*{
    padding: 0;
    margin: 0;
}
body{
    color: #FFFF00;
}

#website_wrapper{
    width: 100%;
    background-color: #90ee8f;
    padding-top: 1%;
    padding-bottom: 1%;
    float: left;
}
#header_wrapper{
    background-color: #008001;
    width: 99%;
    margin: 0 auto;
}
#header_wrapper .title{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: #ffffff;
}
#content_wrapper{
    width: 99%;
    margin: 0 auto;
    margin-top: 1%;
}
#content{
    float: left;
    background-color: #006702;
    width: 100%;
    padding-bottom: 0.15%;
}
.content_row{
    width: 100%;
    float: left;
}
.content_block_photo{
    width: 33%;
    background-color: #008001;
    float: left;
    margin: 0.15%;
}
.content_block_photo .photo{
    background-color: #FFFF00;
    float: left;
    width: 77%;
    padding: 4%;
    margin: 2% 7%;
}
.content_block_photo .photo:hover{
    background-color: #FF0000;
}
.content_block_photo .photo img{
    width: 100%;
}
.content_block_photo .text{
    padding: 3% 5%;
    float: left;
}
.content_block_table{
    width: 66%;
    float: left;
    background-color: #008001;
    margin: 0.15%;
    padding-right: 0.30%;
}
.content_block_table .text{
    width: 60%;
    margin: 0 auto;
    margin-top: 3%;
}
.content_block_table .table{
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 11%;
    width: 40%;
}
.content_block_table .table table{
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    font-style: italic;
    color: #008000;
}
.content_block_table .table table td{
    border: 2px solid green;
}
.content_block_table .table .table_day{
    font-weight: bold;
    color: black;
}
@media all and (min-width: 0px) {
    p, .content_block_table td, .content_block_table th{
        font-size: 3px;
    }
    .content_block_photo .text{
        min-height: 30px;
    }
    .content_block_table td, .content_block_table th{
        font-size: 3px;
    }
    #header_wrapper .title{
        font-size: 10px;
    }
}
@media all and (min-width: 300px) {
    p, .content_block_table td, .content_block_table th{
        font-size: 5px;
    }
    .content_block_photo .text{
        min-height: 30px;
    }
    #header_wrapper .title{
        font-size: 17px;
    }
}
@media all and (min-width: 600px) {
    p, .content_block_table td, .content_block_table th{
        font-size: 10px;
    }
    .content_block_photo .text{
        min-height: 80px;
    }
    #header_wrapper .title{
        font-size: 30px;
    }
}
@media all and (min-width: 1000px) {
    p, .content_block_table td, .content_block_table th{
        font-size: 15px;
    }
    .content_block_photo .text{
        min-height: 100px;
    }
    #header_wrapper .title{
        font-size: 40px;
    }
}
@media all and (min-width: 1550px) {
    p, .content_block_table td, .content_block_table th{
        font-size: 20px;
    }
    .content_block_photo .text{
        min-height: 120px;
    }
    #header_wrapper .title{
        font-size: 50px;
    }
}